body{
  margin: 0 auto;
  border-top: 5px solid #000;
}

h3{
  font-family: 'Voltaire', sans-serif;
  font-size:2em;
  letter-spacing: .1em;
  text-transform: uppercase;
  color:#d8d1c6;
  padding:2%;
}

.wrapper p{
  font-family: 'Average', serif;
  color:#f1f0e9;
  display:none;
}

.contact p{
  color:#000;
}

p{
  font-family: 'Average', serif;
  font-size: 1.5em;
}

p a{
  text-decoration: none;
}

.wrapper p a{
  color:#f1f0e9;
}

.contact p a{
  color: #c08f4c;
}

p a:hover{
  text-decoration: underline;
}

.wrapper{
  margin-top:100px;
  margin-bottom:50px;
  margin-left:auto;
  margin-right:auto;
  width:1000px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card{
  width:250px;
  height:200px;
  padding:5px;
  margin:20px;
  text-align: center;
  border-bottom: 10px solid rgb(183,163,101);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  justify-content: center;
}

.black-bg{
  background-color: #000;
}

.bronze-bg{
  background-color: #c08f4c;
}

.tahoe-bg{
  background-color: #9a9083;
}

.contact{
  display:none;
}

.center{
  text-align: center;
}

@media only screen and (max-width:800px){
  .wrapper{
    margin:50px auto;
    width:300px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    justify-content: space-between;
  }
}

@media only screen and (max-device-width:360px){
  h3{
    font-size: 4em;
  }
  .wrapper p{
    font-size: 3em;
  }
  .contact p{
    font-size: 3em;
  }
  .wrapper{
    margin:0px auto;
    width:90%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    justify-content: space-between;
  }
  .card{
    width:100%;
    height:300px;
    padding:5px;
    margin:0px;
    text-align: center;
    border-bottom: 10px solid rgb(183,163,101);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    justify-content: center;
  }
}